.u-section-1 .u-sheet-1 {
  min-height: 660px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 40px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 588px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 22px 40px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 21px 0 0 8px;
}

.u-section-1 .u-image-1 {
  width: 127px;
  height: 127px;
  background-image: url("images/jupitersarrow.JPEG");
  background-position: 50% 50%;
  margin: 40px 113px 0 auto;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 2.25rem;
  width: 166px;
  font-weight: normal;
  margin: 42px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 0 8px;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: normal;
  margin: 32px 85px 0 93px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: 0 0 0 8px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 560px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 29px;
}

.u-section-1 .u-form-1 {
  height: 640px;
  width: 607px;
  margin: 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: auto;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-input-1 {
  background-image: none;
}

.u-section-1 .u-form-group-2 {
  margin-left: auto;
  margin-right: 0;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-input-2 {
  background-image: none;
}

.u-section-1 .u-form-group-3 {
  margin-right: 0;
  margin-left: auto;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
}

.u-section-1 .u-input-3 {
  background-image: none;
}

.u-section-1 .u-form-group-4 {
  margin-left: auto;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
}

.u-section-1 .u-input-4 {
  background-image: none;
}

.u-section-1 .u-form-group-5 {
  margin-left: auto;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin-left: auto;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 485px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: 183px;
    margin-left: 56px;
    margin-right: 49px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 462px;
  }

  .u-section-1 .u-form-1 {
    width: 528px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 80px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-4 {
    margin-left: 16px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 389px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 546px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    height: 467px;
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}